section#about.page-section.bg-primary.text-white.mb-0
    .container
        // About Section Heading
        h2.page-section-heading.text-center.text-uppercase.text-white About
        // Icon Divider
        .divider-custom.divider-light
            .divider-custom-line
            .divider-custom-icon
                i.fas.fa-star
            .divider-custom-line
        // About Section Content
        .row
            .col-lg-4.ms-auto
                p.lead
                    | My name is Daniel Hajjar and I'm 22 years old. I'm interested in programming which I have been doing since I was about 14-15 years old. I'm also very interested in physics and mathematics. I'm interested in both hardware and software.
            .col-lg-4.me-auto
                p.lead
                    | I also love playing video games. My favorite game is Kerbal Space Program because I like physics. My favorite show is Stargate SG-1.